@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);
body {
    background-color: lightslategrey;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.zadnik {
    position: absolute;
    opacity: 0.8; 
    animation: float 15s infinite linear;
}
.zad1 {
    top: 15%;
    left: 60%;
    width: 120px;
    transform: rotate(-60deg);
}
.zad2 {
    top: 2%;
    right: 70%;
    width: 80px;
    transform: rotate(45deg);
}
.zad3{
    bottom: 5%;
    left: 20%;
    width: 120px;
    transform: rotate(-45deg);
}

.zad4 {
    top: 85%;
    left: 60%;
    width: 120px;
    transform: rotate(60deg);
}

@keyframes float {
    0%, 100% { transform: translateY(0) rotate(-15deg); }
    50% { transform: translateY(-20px) rotate(-17deg); }
}
.card{
    background: gray;
    width: 300px;
    height: 320px;
    border-radius: 10%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}
.pulsing-glow{
    text-shadow: 0 0 5px #795b9c;
    animation: glow-pulse 2s infinite alternate;
    position: absolute;
    color: rgb(244, 221, 245);
    font-size: 30px;
    font-family: Pacifico; 
    position: absolute;
    top: 20px;
    left: 17%;
    transform: rotate(3deg);
}

@keyframes glow-pulse {
  from {
    text-shadow: 0 0 5px #795b9c;
  }
  to {
    text-shadow: 0 0 10px #795b9c, 0 0 10px #795b9c;
  }
}

.ded .object-shadow{
    width: 120px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    top: 200px;
    left: 68%;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
    transition: all 0.5s ease;
    position: absolute;
    background: url(img/—Pngtree—grandfather\ smile_4451932.png);
    transform: rotate(-5deg);
}
.object-shadow {
    width: 130px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    position: absolute;
    background: url(img/3d-render-gift-box-with-ribbon-present-package.png);
    top: 120px;
    left: -40px;
    transform: rotate(45deg);
}
.img-3d {
    width: 100px;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
    box-shadow: 
        20px 20px 30px rgba(0, 0, 0, 0.3),
        5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    position: absolute;
    top: 160px;
    right: 33%;
}

.img-3d:hover {
    transform: perspective(1000px) rotateX(0) rotateY(0);
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.2);
}

.footer
{
    font-family: Pacifico;
    bottom: 0%;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: 14px;
    backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}